/* Reset styles */
* {padding: 0;margin: 0;border: 0;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}  
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;   }    
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}button {cursor: pointer;}  
button::-moz-focus-inner {padding: 0;border: 0;}    
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}    
ul li {list-style: none;}   img {vertical-align: top;}  
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}

body {
	margin: 0;
}

.keyboard {
	margin: 0 auto;
	text-align: center;
}

.keyboard-title {
	font-size: 40px;
}

.keyboard-text {
	width: 705px;
	height: 200px;
	border: 2px solid #000;
	font-size: 20px;
}

.keyboard-body {
	border: 2px solid #000;
	border-radius: 4px;
	width: 705px;
	height: 235px;
	margin: 0 auto;
	background: #888888;
}

.keyboard-key {
	width: 40px;
	height: 40px;
	background-color: #161212;
	/* border: 1px solid #000; */
	margin:  3px ;
	cursor: pointer;
	font-weight: 700;
	border-radius: 7px;
	line-height: 40px;
	letter-spacing: 1px;
}

.keyboard-key:hover {
	background-color: #4e4d4d;
}

.keyboard-key:active {
	background-color: #4e4d4d;
	border-radius: 15px;
}

.active {
	background-color: #4e4d4d;
	border-radius: 15px;
}

.keyboard-span {
	color: #fff;
}

.backspace {
	width: 100px;
}

.tab {
	width: 50px;
}

.capsLock {
	width: 100px;
}

.shiftLeft {
	width: 100px;
}

.shiftRight {
	width: 86px;
}

.enter {
	width: 86px;
}

.space {
	width: 330px;
	position: relative;
	top: -4px;
}