/* Reset styles */
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}  
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;   }    
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}button {cursor: pointer;}  
button::-moz-focus-inner {padding: 0;border: 0;}    
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}    
ul li {list-style: none;}   img {vertical-align: top;}  
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}

body {
	margin: 0;
	font-size: 1.3rem;
}

.container {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	max-width: 1200px;
}

.title {
	font-size: 60px;

}

.description {
	font-size: 20px;
}

.language {
	font-size: 20px;

}

.textarea {
	width: 720px;
	height: 150px;
	border: 2px solid #000;
	font-size: 20px;
	border-radius: 8px;
	padding: 10px 15px;
}

.keyboard {
	border-radius: 4px;
	border: 2px solid #4b3d3d;
	background: #bebaba;
	padding: 5px 10px;
}



.keyboard-line {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	width: 800px;
}

.key {
	min-width: 40px;
	height: 40px;
	padding: 0 10px;
	border: 2px solid #332a2a;
	border-radius: 5px;
	background: #858080;
	box-shadow: 1px 1px 3px rgb(90, 81, 81)
}

.key:hover {
    color: aqua;
	background: #332a2a;
	box-shadow: 3px 2px 3px rgb(175, 166, 166);
	border: 2px solid rgb(211, 204, 204);
}



.ShiftRight,
.ShiftLeft {
	min-width: 100px;
    flex-grow: 1;
}

.Enter {
	min-width: 100px;
    flex-grow: 1;
}

.ControlLeft,
.ControlRight {
	min-width: 70px;
}

.Space {
	flex-grow: 1;
}

.AltLeft,
.AltRight {
	min-width: 70px;
}

.key:active {
	color: aqua;
	background: #332a2a;
	border: 2px solid rgb(211, 204, 204);
	box-shadow: 3px 2px 3px rgb(175, 166, 166);
}

.active {
	color: aqua;
	background: #332a2a;
	border: 2px solid rgb(211, 204, 204);
	box-shadow: 3px 2px 3px rgb(175, 166, 166);
}

.pushed {
	color: aqua;
	background: #332a2a;
	border: 2px solid rgb(211, 204, 204);
	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.6);
}

.lang-en,
.lang-ru {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}
